* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    width: 100vw;
    height:100vh;
    
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: chartreuse;
    border-radius: 50%;
    position: fixed;
    z-index:99;
}
#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: rgba(128, 255, 0, 0.216);
    border-radius: 50%;
    position: fixed;
   filter: blur(40px);
   z-index: 9;

}
#nav{
    display:flex;
    gap: 1.5vw;
    background-color:transparent;
    height: 70px;
    width:100vw;
    position: fixed;
    font-size: 1.1vw;
    font-display: capitalize;
    align-items: center;
    justify-content: flex-start;
    z-index: 99;
}
#nav a{
    margin-left: 2.5vw;
    
}
#nav form{
    display: flex;
    position: relative;
    gap: 1vw;
    left: 10vw;
    z-index: 10;
}
#nav form input{
    
    display: flex;
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
    background-color: transparent;
    border: 0.2px solid red;
    text-align: center;
    justify-content: center;
    
}
#nav form button{
    display: flex;
    width: 8vw;
    height: 5vh;
    justify-content: space-evenly;
   text-align: center;
    border-radius: 20px;
    background-color: transparent;
    border: 0.2px solid red;
    align-items: center;
    box-shadow: 1px 3px red;
}
#nav form button span{
    font-size: 1vw;
}
#nav form button:hover{
    background: rgb(51, 14, 199);
}
 video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;

}
#nav h3{
    
    text-transform: uppercase;
    font-weight: bolder;
    
 
}
#nav h3:hover{
    
   background-color: rgb(241, 18, 21);
   border-radius: 5px;
   transition: all ease 1.5s;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.318);
}
#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    background-color:transparent;
  
}
#page1 img{
    height: 40vh;
    width: 25vw;
    border-radius: 20px;
}
#page1 a{
    font-size: 20px;
    color: blue;
    font-weight: bold;
  font-family: sans-serif;
}
#page1 h1{
    font-size: 5vw;
    font-weight: 700vw;
    -webkit-text-stroke:1px  brown;
    text-decoration: underline;
}
#page1 h3{
    font-size: 2vw;
    font-weight: 300px;
    -webkit-text-stroke:0.7px greenyellow;
}
#page1 h5{
    font-size: 1vw;
    -webkit-text-stroke:0.1px darkorange;  

}
#page2{
    min-height: 100vh;
    width: 100vw;
    z-index: 10;


}
#scroller{
      white-space: nowrap;
      position: relative;
      z-index: 10;
}
#content{
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    transition: all linear 0.5s;
    -webkit-text-stroke: 1px rgba(255, 0, 0, 0.633);

}
#content:hover{
    color: #95c11e;
}
 #about-us {
        
    display: flex;
    height: 40vh;
    width: 100vw;
    justify-content: space-around;
    position: relative;
    z-index: 10;
    
}
#about-us-in h3{
    
    font-size: 4.5vw;
    -webkit-text-stroke: 2px blue;
    margin-bottom: 2vh;
    

}
#about-us-in{
    width: 50vw;
    text-align: center;
}
#about-us-in p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
    justify-content: space-around;
    font-weight: bolder;
    -webkit-text-stroke: 0.3px red;
    font-size: 2vw;
    line-height: 5vh;
    
}

#about-us img{
    margin-top: 5vh;
    width: 20vw;
    height: 25vh;
    border-radius: 20px;
    object-fit: cover;
}
#card-container{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 7vw;
    position: relative;
    z-index: 10;
    width: 100vw;

}
.card{
    height: 50vh;
    width: 30vw;
    background-color: red;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;

}
#card1{
    background-image: url("https://c0.wallpaperflare.com/preview/239/723/610/wallpaper-background-jaguar-wildlife.jpg");
}
#card2{
    background-image: url("https://wallpaperset.com/w/full/0/3/0/507788.jpg");
}
#card3{
    background-image: url("https://cdn.wallpapersafari.com/94/74/hI8e1l.jpg");
}
.overlay{
    height: 100vh;
    width: 100vw;
    background-color: #95c11e;
    padding-top: 2vh;
    opacity: 0;
    transition: all ease 0.6s;

}
.card:hover .overlay{
    opacity: 1;
}

.overlay h4{
    color: black;
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    white-space: nowrap;
    margin-bottom: 2vh;
}
.overlay p{
    color: rgba(73, 22, 10, 0.908);
    font-size: 1vw;
    font-weight: bold;
}
#main-container{
    height: 30vh;
    width: 98vw;
    background: linear-gradient(to left bottom,greenyellow,darkred);
    display: flex;
    position: relative;
    left: 0.5vw;
    gap: 3vw;
    border-radius: 20px;
    

}
#main-container marquee{
    font-size: 2vw;
    text-align: center;
    margin-top: 45px;
    color: black;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 0.5 red;

}
#page3{
    width:100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;


}
#page3 >p{
    font-size: 3vw;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 60vw;
    line-height: 6.5vh;
    margin-top: 20vh;

}
#page3 img{
    position: absolute;
    height: 7vw;
    width: 5vw;
    border-radius: 10px;
    
}
#page3 #colon1{
    left: 12vw;
    top: 20vh;
}
#page3 #colon2{
    right: 7vw;
    bottom: 2vh;
}
.green-content{
    height: 30vh;
    width: 100vw;
    display: flex;
    
    position: relative;
    gap: 5vw;
    justify-content: center;
    
}
 .elem{
    height: 25vh;
    width:26vw;
    border-radius: 20px;
    
    position: relative;
    overflow: hidden;
    

}
.elem h4{
    height: 25vh;
    width: 26vw;
    background-color: #95c11e;
    display:flex ;
    align-items: center;
    justify-content: center;
    position:absolute;
    font-size: 2vw;
    transition: all ease 0.10s;
    font-weight: 800;
    color: black;
    z-index: 10;

}
.elem img{
    height: 25vh;
    width: 26vw;
    object-fit: cover;
    transition: all ease 0.10s;
   
}
.elem:hover h4{
    color: #fff;
    background-color: transparent;
}

.elem:hover img{
    scale:1;
}
.footer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
   position: absolute;
   background: linear-gradient(to right , rgb(92, 9, 9),blue,rgba(129, 10, 10, 0.738)) ;
   
}
.var h3{
    color: black;
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 800;
    position: relative;
    left: 2vw;
}
.var{
    height: 80vh;
    width: 100vw;
    
    margin-top: 7vh;
}
.var h4{
    color: black;
    font-size: 1vw;
   
    font-family: sans-serif;
    font-weight: 600;
}

.details{
    background-color: transparent;
    width: 97vw;
    height: 100vh;
    border-radius: 20px;
    border: 2px solid red;
    z-index: 10;
}
.details h2{
    text-align: center;
    -webkit-text-stroke: 0.5px red;
}
 .details h3{
    position: absolute;
    left: 2vw;
    -webkit-text-stroke: 0.5px blue;
}
.details p{
    position: relative;
    left: 1vw;
}

body::-webkit-scrollbar{
    background-color: transparent;
}
